{% extends "app/base.html" %}
{% load static %}

{% block title %}Đăng nhập{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row  my-3">
        <div class="col-sm-6 offset-sm-3">
        <h3> Reset Passowrd Complete</h3>
        <hr>
        <div>
            <iframe src="https://giphy.com/embed/Mf8Fh1MFTjTvk28GKP" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/leademup-green-team-greenteam-verified-greenverified-Mf8Fh1MFTjTvk28GKP">via GIPHY</a></p>
        </div>
    </div>
</div>
{% endblock main-content %}

