{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% block main-content %}
<style>

    /* CSS Bootstrap cho trang profile */

.content-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.account-img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.account-heading {
    font-size: 24px;
    margin-top: 10px;
}

.text-secondary {
    color: #6c757d;
}

.form-group {
    margin-bottom: 20px;
}

.btn-outline-info {
    color: #17a2b8;
    border-color: #17a2b8;
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
</style>
    <div class="content-section d-flex justify-content-between p-5">
      <div class="media ms-5">
        <img class="rounded-circle account-img " src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Update</button>
          </div>
      </form>
    </div>
{% endblock main-content  %}
